.gallery-images .gallery-item{
    margin-bottom: 10px;
}

.slide-wrapper .slide-item,
.skill-wrapper .skill-item,
.partner-wrapper .partner-item,
.team-wrapper .team-item{
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.nav-sidebar .nav-link>.right, .nav-sidebar .nav-link>p>.right{
    right: 1rem !important;
}
@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.gradient-custom {
    /* fallback for old browsers */
    background: #f093fb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(22, 202, 51), rgba(245, 87, 108, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(10, 248, 2), rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}